<section class="page-header">
    <div class="overlay"></div> 	
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Đơn hàng</h1>
            <hr style="border: 1px solid black;">
            <p><br></p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/user">Chung</a>
          </div>
          <div class="nav flex-column nav-pills">
              <a class="nav-link active" routerLink="/orders" >Đơn hàng</a>
          </div>
          <div class="nav flex-column nav-pills">
              <a class="nav-link" routerLink="/user-address" >Địa chỉ</a>
          </div>
          <div class="nav flex-column nav-pills">
              <a class="nav-link" routerLink="/user-details" >Thay đổi</a>
          </div>
          <div class="nav flex-column nav-pills">
              <a class="nav-link" (click)="callLogout()">Thoát</a>
          </div>
        </div>
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">#1012</th>
                <td>June 11, 2019 </td>
                <td>Completed</td>
                <td>30</td> <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
            </tr> 
            <tr> 
                <th scope="row">#2214</th> 
                <td>March 10, 2019</td> 
                <td>Completed</td> 
                <td>50</td> 
                <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
            </tr> 
            <tr> 
                <th scope="row">#3434</th> 
                <td>February 11, 2019</td> 
                <td>Pending</td> 
                <td>25</td> 
                <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
            </tr> 
            <tr> 
                <th scope="row">#5312</th> 
                <td>July 11, 2019</td> 
                <td>Processsing</td> 
                <td>56</td> 
                <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
            </tr> 
        </tbody> 
    </table> 
</div> 
</div> 
</div> 
</section>